*{
  justify-content: center;
  width: 100%;
}

.book-image{
  padding: 10px;
  border-radius: 30px;
}

.CreateBook {
  justify-content: center;
  background-color: #196573;
  min-height: 100vh;
  /* padding: 500px; */
  padding-top: 20px;
  color: white;
}

.ShowBookDetails {
  background-color: #196573;
  min-height: 100vh;
  color: white;
}

.UpdateBookInfo {
  background-color: #196573;
  /* padding: 400px; */
  justify-content: center;
  padding-top: 10px;
  min-height: 100vh;
  color: white;
}

.ShowBookList {
  background-color: #196573;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
  margin-bottom: 10px;
}

.container{
  margin-bottom: 0px;
}

/* BookList Styles */
@media screen and (max-width: 400px){
.list {
  display:block;
}
}
@media screen and (min-width: 400px) {
.list{
  display: grid;
  gap: 100px;
  margin-bottom: 10px;
  margin: 20px 0px 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 5em;
}
}
.card-container {
  width: 250px;
  background-color: #03343c;
  border: 1px solid #ffc107;
  margin: 15px auto;    /* Boook card margin set*/
  padding-bottom: 20px; /*BookCard padding set*/
  border-radius: 20px;
  overflow: hidden;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2, a{
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
}

.desc p {
  font-weight: 400;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  font-weight: 700;
  padding: 10px 0 10px 0;
}